/*@import url{all/headBox.css};*/
@import url(../myicon/font/flaticon.css);
/* flaticon : css든 font든 실제로 사용하려면 문서를 불러오기 이전에 세팅이 되어 있어야 한다. (위치값을 불러옴.) */

  
/* color setting
  메인 #282828
  보조 #fff
  보조2 # f6f6f6
  보조3 #c0c0c0 - font color #282828 */  
/* box shadow : 가로값, 세로값, 번짐정도(크기값) 색상(inset);*/
  
  
/* indec.css*/
    
/*body {overflow-x: hidden;}*/
.container {width: 960px; height: 2000px;  margin: 0 auto;}
.container > * {width: 100%; box-sizing: border-box;}

/* headBox*/
  #headBox {height: 120px; background-color: #282828;}
h1 {width: 148px; height: 115px; float: left; background-color: #fff;}
#unb {width: auto; max-width: 132px; height: 32px; margin-right: 10px; float: right; background-image: url(../img/headBox/unb_02.png); transition: all 0.4s;}

 #unb:hover {height: 100%;}

 #unb:after {
   content:"";
   display: block;
   float:left;
   width: 10px;
   height: 100%;
   background-image: url(../img/headBox/unb_03.png);
   background-position: left bottom;
   margin-right: -10px;}
 #unb:before {
   content:""; 
   display: block; 
   float:right; 
   width: 10px; 
   height: 100%; 
   background-image: url(../img/headBox/unb_01.png); 
   background-position: right bottom; 
   margin-left: -10px;}
 
#gnb {width: 560px; height: 20px; float: left; background-color: #fa0; margin-left: 92px; margin-top: 22px;}




#lnb {min-height: 510px; height: auto; box-sizing: border-box; padding: 30px 0; }
#lnb:after {background-color: #c0c0c0; background-image: url(../img/lnb/pattern_01.png);}
  #lnb > dl{width: 100%; height: auto;}
  #lnb > dl > dt{width: 312px; height: 205px; background-color: #6ff; float: left; margin: 3px;}
  #lnb h2 {}
  #lnb dl > dd{width: 312px; height: 205px; background-color: #60f; float: left; margin: 3px;}


  .container > #addBanner {width: 100vw; height: 630px; background-color: #fac; position: relative; left: 50%; margin-left: -50vw; top: 0; box-shadow: 0 3px 3px rgba(40, 40, 40, 0.5) #282828; overflow: hidden;}

  #addBanner > .btn {width: 40px; height: 150px; background-color: #fcfcfc; position: absolute; top: 50%; margin-top: -75px; z-index: 200;}
#addBanner > .left_btn {left: 0.5rem;}
#addBanner > .rignt_btn {right: 0.5rem;}

/*광고*/

  .mini_slide_banner {width: 320px; height: 370px; position: absolute; right: 7.5rem; bottom: 1.875rem; background-color: rgba(40, 40, 40, 0.7); box-shadow: 0.1rem 0.1rem 0.1rem #282828; }
  .mini_slide_banner > li {}


  .full_slide_banner {width: 400%; height: 100%; *margin-left: -100%;*}
  .full_slide_banner > li {width: 25%; height: 100%; float:left;}
  .full_slide_banner > .full_slide_list_01 {background-color: #a0d;}
  .full_slide_banner > .full_slide_list_02 {background-color: #00d;}
  .full_slide_banner > .full_slide_list_03 {background-color: #0f2;}
  .full_slide_banner > .full_slide_list_04 {background-color: #ffe;}

#search {height: 90px; background-color: #c0c0c0; padding: 1.25rem 7.5rem;}
#search > form {width: 100%; height: 100%;}
#search > form > fieldset {width: inherit; height: inherit;}
#productSearch {width: 635px; height: 100%; border: 4px solid #282828;}
#productButton {width: 80px; height: 100%; background-color: #282828; color: #fff; float: right;}

/* #search input[type="text"] {width: 640px; height: 100%; border: 2px solid #333; float: rihgt;}
 #search input[type="button"] {width: 80px; height: 100%; border: 2px solid #333; margin-left: -2px;} */


  #infoBank {height: 270px; background-color: #f6f6f6;}
  #fnb {height: 330px; background-color: #c0c0c0;}
  #footBox {height: 180px; background-color: #adc; }





























