

html, body {margin: 20px; padding: 0; font:inherit; font-family:sans-serif; font-size: 100%; -ms-text-size-adjust: 100%; -webkid-text-size-adjust: 100%}
           
h1, h2, h3, h4, h5, h6, div, ul, ol, li, d1, dt, dd, table {margin: 0; color: #333; font:inherit;}
ul, ol, li {list-style: none; font:inherit}
a {text-decoration: none;}
header, article, aside, nav, footer, section, hgroup, main {display: block;}

      